.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/.idea
/uploads
/themes/Total-Child/assets/gulp-minify/
/index.php
/plugins/wordpress-seo-premium/
/plugins/sassy-social-share/
/wp-config.php
/plugins/freshchat 2/
/plugins/freshdesk-support/
/plugins/gravity-forms-zoom-webinar-registration/
/plugins/gravityforms/
/plugins/sassy-social-share2/
/plugins/total-theme-core/
/table-builder/
/themes/Total/
/plugins/daggerhart-openid-connect-generic/
/plugins/reading-time-wp/
/table.html
/plugins/wordpress-seo/
/cache/
/sersr/
