# Ignore everything:
*


# Except for the themes and plugins directories:

!themes/Total-Child/**
!plugins/easl-member-zone/**
!plugins/easl-member-zone/assets/**
!plugins/easl-member-zone/include/**
!plugins/easl-applications/**

# And this file itself
!.gitignore
