.page-header.background-image-page-header .page-header-title{
    color: #004b87 !important;
}
.recognition-link a{
    color: #104e85;
}
.awardees-tabs .vc_column-inner {
    margin-bottom: 18px !important;
}
.awardees-tabs .vc_tta-tab > a[data-vc-tabs]{
    background-color: #ffffff !important;
    color: #004b87 !important;
    font-size: 17px !important;
    font-family: 'Helvetica Neue';
    font-weight: 700;
}
.awardees-tabs .vc_tta-tab.vc_active > a[data-vc-tabs]{
    background-color: #e1e1e1 !important;
    color: #004b87 !important;
}
body .vc_tta.vc_general .vc_tta-tabs-container .vc_tta-tabs-list {
    border-bottom: 2px solid #e1e1e1;

}
.awardees-tabs .awardees-tabs-additional-sub-nav .vc_column_container .wpb_wrapper p{
    margin-bottom: 0;
}
.awardees-tabs .awardees-tabs-additional-sub-nav .vc_column_container .wpb_wrapper a{
    color: #ffffff;
    font-size: 16px;
    font-family: 'Helvetica Neue';
    font-weight: 700;
}
.awardees-tabs .awardees-tabs-additional-sub-nav .vc_column_container .vc_column-inner {
    margin-bottom: 0 !important;
}
.easl-recognition-award-year{
    font-family: 'Helvetica Neue';
    font-weight: 700;
}