
.event-links-list li a:after {
    content: "\f105";
    color: #dc214e;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 20px;
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
}
.event-links-list li a {
    color: #004b87;
    text-decoration: none;
    display: block;
    position: relative;
    min-height: 32px;
    padding-left: 42px;
    line-height: 32px;
}

 .app-process{
     background-color: #ffffff;
 }
.app-process ul{
    margin-left: 15px;
}
.app-process ul li{
    position: relative;
    margin: 0 0 0px;
    padding: 0 0 30px;
}

.app-process ul li.app-process-key p,
.app-process ul li.app-process-key h4{
    color: #004b87;
}
.app-process ul li:before {
    display: block;
    content: '';
    position: absolute;
    top: 11px;
    width: 2px;
    background-color: #71c5e8;
    height: 100%;
    left: -13px;
}
.app-process ul li.active:before{
    background-color: #cbcbcb;
}
.app-process ul li.active,
.app-process ul li.active h4,
.app-process ul li.active p{
    color:#dc234e;
    font-family: 'Helvetica Neue';
    font-weight: 700;
}
.app-process ul li h4{
    margin-bottom: 0;
    font-size: 20px;
}
.app-process ul li p{
    margin-bottom: 0;
    font-size: 20px;
    line-height: 24px;
}
.app-process ul li:last-child:before{
    background-color: transparent;
}
.app-process ul{
    list-style: none
}
.app-process ul li:after{
    content: '\f111';
    position: absolute;
    top: 0;
    left: -18px;
    color: #71c5e8;
    font-size: 14px;
    display: block;
    font-family: FontAwesome;
}
.app-process ul li.active:after{
    color:#cbcbcb;
}
.app-process ul li.next-key p,
.app-process ul li.next-key h4{
    /*color: #dc234e;*/
}

.wpex-social-share {
     display: none;
 }

.social-share li a {
      color: #fff !important;
      position: relative;
      display: inline-block;
      width: 30px;
      height: 26px;
      text-decoration: none;
      text-align: center;
      line-height: 26px;
      padding: 0 !important;
  }
.social-share li a .hexagon {
    width: 16px;
    height: 26px;
    background: #004b87;
    position: absolute;
    left: 7px;
    right: 7px;
    height: 26px;
    z-index: 1;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.social-share li a:hover .hexagon {
    background: #dc214e;
}
.social-share li a .hexagon:before {
    content: "";
    position: absolute;
    top: 0;
    left: -7px;
    width: 0;
    height: 0;
    border-right: 7px solid #004b87;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.social-share li a .hexagon:after {
    content: "";
    position: absolute;
    top: 0;
    right: -7px;
    width: 0;
    height: 0;
    border-left: 7px solid #004b87;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.social-share li a:hover .hexagon:before {
    border-right-color: #dc234e;
}
.social-share li a:hover .hexagon:after {
    border-left-color: #dc234e;
}
.display-block{
    display: block;
}
