#timeline {
    width: 100%;
    max-width: 1125px;
    /*height: 350px;*/
    overflow: hidden;
    margin: 76px auto;
    position: relative;
    /*background: url('../images/dot.gif') left 45px repeat-x;*/
}
#dates {
    width: calc( 100% - 200px );
    height: 60px;
    /*overflow: hidden;*/
    margin: 0;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#dates li {
    list-style: none;
    flex: 1 1 auto;
    width: 100px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    background-color: #80c4e5;
    position: relative;
    /*background: url('../images/biggerdot.png') center bottom no-repeat;*/
}
#dates li::before{
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    margin-top: -1px;
}
/*#dates li:first-child::before,*/
/*#dates li:last-child::before{*/
    /*content: '';*/
    /*width: 100%;*/
    /*height: 2px;*/
    /*display: block;*/
    /*background-color: #135289;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*margin-top: -1px;*/
    /*z-index: -1;*/
/*}*/
#dates li:first-child::before{
    content: '';
    width: 90%;
    height: 2px;
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 10%;
    margin-top: -1px;
}
#dates li:last-child::before{
    content: '';
    width: 90%;
    height: 2px;
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    right: 10%;
    margin-top: -1px;
}
/*#dates li:first-child,*/
/*#dates li:last-child*/
/*{*/
    /*background-color: #135289;*/
/*}*/
#dates a {
    line-height: 50px;
    width: 100%;
    display: block;
    height: 100%;
}
/*#dates li:first-child a,*/
/*#dates li:last-child a{*/
    /*color: #ffffff;*/
/*}*/
#dates a.selected{
    font-size: 50px;
    position: absolute;
    top: -42px;
    left: 0;
    color: #80c4e5;
    font-family: "KnockoutHTF51Middleweight";
}
#dates li:first-child a.selected,
#dates li:last-child a.selected,
#dates li:first-child a,
#dates li:last-child a{
    color: transparent;
}

#dates a.selected:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e5e5e5;
    position: absolute;
    top: 57px;
    left: 50%;
    margin-left: -10px;
}
#dates li:first-child a.selected:before{
    left: 10%;
}
#dates li:last-child a.selected:before{
    left: auto;
    right: 10%;
}
#dates a:hover{
    text-decoration: none;
}

#issues {
    width: 100%;
    height: 358px;
    overflow: hidden;
    margin-bottom: 60px;

}
#issues li {
    width: 562.5px;
    max-width: 562.5px;
    height: 350px;
    list-style: none;
    float: left;
}
#issues li.selected img {
    -webkit-transform: scale(0.9,0.85);
    transform: scale(0.9,0.85);
}
#issues li img {
    float: left;
    /*margin: 10px 30px 10px 50px;*/
    margin: 0px 15px 0px 0px;
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */
    zoom: 1;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    -webkit-transform: scale(0.9,0.85);
    transform: scale(0.9,0.85);
}
#issues li h1 {
    /*color: #ffcc00;*/
    font-size: 30px;
    margin: 20px 0 0;
    /*text-shadow: #000 1px 1px 2px;*/
}
#issues li p {
    font-size: 14px;
    margin-right: 70px;
    font-weight: normal;
    line-height: 22px;
    /*text-shadow: #000 1px 1px 2px;*/
}

#grad_left,
#grad_right {
    width: 100px;
    height: 350px;
    position: absolute;
    top: 0;
}
#grad_left {
    left: 0;
    /*background: url('../images/grad_left.png') repeat-y;*/
}
#grad_right {
    right: 0;
    /*background: url('../images/grad_right.png') repeat-y;*/
}

#next,
#prev {
    position: absolute;
    top: 0;
    font-size: 70px;
    /*top: 170px;*/
    width: 22px;
    /*height: 38px;*/
    color: #135389;
    /*background-position: 0 0;*/
    /*background-repeat: no-repeat;*/
    /*text-indent: -9999px;*/
    /*overflow: hidden;*/
}
#next:hover,
#prev:hover {
    /*background-position: 0 -76px;*/
}
#next {
    right: 0;
    /*background-image: url('../images/next.png');*/
}
#prev {
    right: 100px;
    /*background-image: url('../images/prev.png');*/
}
#next.disabled,
#prev.disabled {
    opacity: 0.2;
}

.timeline-value{
    width: 100px;
    background-color: #135289;
    color: #ffffff;
    line-height: 50px;
    font-size: 24px;
    text-align: center;
    font-family: "KnockoutHTF51Middleweight";
}
#years{
    display: none;
}
.slider-block{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#dates{
    display: none;
}
.slider-wrapper-block{
    width: calc( 100% - 200px);
    padding: 24px 5%;
    background-color: #80c4e5;
}
.ui-slider-horizontal {
    height: 2px;
}
.ui-widget.ui-widget-content {
    border: 1px solid #ffffff;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.55em;
    margin-left: -.6em;
}

element.style {
    left: 0%;
}
#content .wpb_alert p:last-child,
#content .wpb_text_column :last-child,
#content .wpb_text_column p:last-child,
.wpb_alert p:last-child,
.wpb_text_column :last-child,
.wpb_text_column p:last-child {
    margin-bottom: 0;
}
.ui-state-default, .ui-state-active,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
#custom-handle {
    border: none;
    background: transparent;
    font-weight: normal;
    width: 100px;
    height: 50px;
    top: -83px !important;
    color: #80c4e5;
    font-size: 50px;
    font-family: "KnockoutHTF51Middleweight";
}
#custom-handle:before{
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e5e5e5;
    position: absolute;
    top: 73px;
    left: 38%;
    margin-left: -10px;
}
#issues h4{
    margin-bottom: 0;
}
#issues img{
    border: 1px solid #e3e3e3;
}