.registry-grants-accordeon .vc_tta-panel-title a{
    background-color: #e9e9e9 !important;
    padding: 0px 20px 0px 0 !important;
    display: flex !important;
    align-items: center;
}
.registry-grants-accordeon .vc_tta-panel-title a span{
    background-color: #454545;
    padding: 6px;
    width: 60px;
    text-align: center;
}
.registry-grants-sidebar .wpb_wrapper{
    background-color: #f5f5f5;
}
.registry-grants-sidebar .wpb_wrapper.vc_figure .vc_single_image-wrapper img,
.registry-grants-sidebar .wpb_wrapper.vc_figure .vc_single_image-wrapper,
.registry-grants-sidebar .wpb_wrapper.vc_figure{
    width: 100%;
}
h2.app-tlt,
h4.app-tlt {
    background-color: #454545;
    color: #ffffff;
    margin-bottom: 0;
    font-family:'Helvetica Neue';
    font-weight: 700;
    padding-left: 15px;
}
h2.app-tlt{
    font-size: 30px;
    padding-top: 3px;
}
h4.app-tlt{
    padding-top: 0px;
    padding-bottom: 10px;
}
.easl-button-with-arrow{
    background-color: #80c4e5;
    text-align: left;
}