.vc_element-icon.easl-yt-player-icon {
    background-color: #FF0000!important;
}
.vc_element-icon.easl-no-default-container-icon[data-is-container=true] {
    background-image: none!important;
}
#event_formatdiv, #tagsdiv-publication_tag {
    display: none!important;
}
.post-type-event_subpage .wpb_switch-to-front-composer {
    display: none!important;
}

body .vc_colored-dropdown .blue,
body .vc_colored-dropdown .primary{
    background-color: #004b87!important;
    color: #fff!important;
}
.vc_colored-dropdown .lightblue,
.vc_colored-dropdown .secondary {
    background-color: #80c4e5!important;
    color: #fff!important;
}
.vc_colored-dropdown .red {
    background-color: #de2a57!important;
    color: #fff!important;
}
.vc_colored-dropdown .teal {
    background-color: #189790!important;
    color: #fff!important;
}
.vc_colored-dropdown .orange {
    background-color: #f26827!important;
    color: #fff!important;
}
.vc_colored-dropdown .grey,
.vc_colored-dropdown .gray {
    background-color: #7e6a73!important;
    color: #fff!important;
}
.vc_colored-dropdown .yellow {
    background-color: #f9bc49!important;
    color: #fff!important;
}
.vc_shortcodes_container.wpb_easl_toggle > .controls_column:first-child {

}
.vc_shortcodes_container.wpb_easl_toggle >.wpb_element_wrapper>.vc_container_for_children {
    margin-left: 0;
    margin-bottom: 1px;
}
.wpb_easl_toggle > .wpb_element_wrapper {
    padding-left: 10px;
}
.wpb_easl_toggle > .wpb_element_wrapper .vc_toggle_title {
    font-size: 1em;
    margin: 0!important;
    line-height: inherit;
    cursor: pointer;
    background: url(vc-images/plus.png) left 3px no-repeat;
    padding-left: 20px!important;
}
.wpb_easl_toggle > .wpb_element_wrapper .vc_toggle_title_active {
    background-image: url(vc-images/minus.png);
}